body {
  color: #999999;
  background: #ffffff;
  font-family: "Segoe UI", Helvetica, Arial, sans-serif;
  font-size: 1em;
  line-height: 1.2em;
  -webkit-font-smoothing: antialiased;
  margin: 0;
  padding: 0;
}
h2 {
  color: #333333;
  font-size: 1.2em;
  font-weight: normal;
}
a {
  color: #999999;
}
#content {
  padding: 10px;
}
